<!--ログインページ-->
<h1>ログイン</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <!--form_with(model: @user, local: true)今回はこのような記述は出来ないので、リソース名（session）と対応するルーティングを具体的に指定する必要があります。-->
    <%= form_with(scope: :session, url: login_path, local: true) do |f| %>

      <%= f.label :email, class: "label-login" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, class: "label-login" %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline checkbox-login", for: "remember-me" do %>
       <%= f.check_box :remember_me, id: "remember-me" %>
       <span>ログイン情報を記憶する</span>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-warning btn-block btn-login" %>
    <% end %>
    
  </div>
</div>